.email-row {
  display: grid;
  grid-template-columns: auto minmax(250px, 1fr) minmax(150px, 2fr) auto;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  padding-left: 10px;
  border-bottom: 1px solid #babec1;
  cursor: pointer;
  font-size: 14px;
}

.email-row:hover {
  box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.2);
}

.email-side-icons-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.checkbox-input {
  margin-right: 10px;
  margin-top: 20px;
}

.email-from-content {
  display: flex;
  align-items: center;
}

.email-from-content .email-side-icons-container {
  margin-left: auto;
}

.fa-star {
  cursor: pointer;
}

.fa-star.starred {
  color: gold;
}

.email-from-txt {
  font-weight: bold;
  font-size: 0.9rem;
}

.email-body {
  display: flex;
  align-items: center;
  flex: 2;
}

.makaf {
  margin: 0 3px;
}

.email-body-txt {
  font-weight: normal;
}

.email-row-date {
  margin-right: 10px;
  justify-self: end;
  transition: opacity 0.2s ease-in-out;
}

.email-icons-container {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.email-row:hover .email-icons-container {
  opacity: 1;
}

.email-row:hover .email-row-date {
  opacity: 0;
}

.email-row-icon {
  cursor: pointer;
  font-size: 1.1rem;
}

a {
  color: black;
}

/* For mobile */
@media only screen and (max-width: 600px) {
  .email-row,
  .email-icons-container {
    max-width: 95%;
    padding: 0 10px;
  }
}
