
.compose-btn {
    margin: 20px;
    padding: 10px 20px;
    background-color: #c2e7ff;
    color: #001d35;
    border: 3px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .compose-btn:hover {
    background-color:#c2e7ff;
    border: 2px solid #ddd;
  
  }
  
  .email-compose {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 4em;
    width: 500px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 1px 2px #00000057;
    border-radius: 0.5em;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    max-width: 600px;
}
  
  .email-compose h2 {
    padding: 10px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #f2f6fc;
    color: #041e49;
    border-bottom: 1px solid #ccc;
  }
  
  .email-compose form {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .email-compose label {
    margin-bottom: 10px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
  }
  
  .email-compose input,
  .email-compose textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 19.5px;
    color: #222222;
    background-color: #ffffff;
  }
  
  .email-compose button {
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  .email-compose button:hover {
    background-color: #0056b3;
  }
  
  .success-message {
    background-color: #202124;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #202124;
    border-radius: 4px;
    margin: 10px 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
  }
  
  .undo-btn,
  .view-btn {
    color: #8ab4f8;
    padding: 8px 12px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: none;
    transition: box-shadow 0.3s ease;
  }
  
  .undo-btn:hover,
  .view-btn:hover {
    box-shadow: 0 0 5px #8ab4f8;
  }
  