:root {
  --background-color: #ffffff;
  --sidebar-bg-color: #f1f3f4;
  --mail-item-bg-color: #f2f6fc;
  --border-color: #ddd;
  --text-color: #202124;
  --secondary-text-color: #5f6368;
  --primary-color: #1a73e8;
  --main-bg-color: #ffffff;
  --mail-item-hover-bg-color: #f2f6fc;
  --border-color: #ddd;
}
