.keep-header {
    display: flex;
    align-items: center;
}

.keep-logo-header {
    display: flex;
    align-items: center;
}

.keep-logo {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.search-input-container {
    margin-left: 60px;
    margin-top: 15px;
}

.search-note-container {
    flex: 0 0 auto;
    padding: 10px;
    background-color: #f1f3f4;
    border-bottom: 1px solid #e0e0e0;
}