.mail-index {
  font-family: "Google Sans", "Roboto", sans-serif;
  margin: 0;
  background-color: #fff;
}
.sidebar-gmail .material-symbols-outlined icon {
  font-size: 15px;
  margin-right: 10px; 
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #202124;
  text-decoration: none;
  font-size: 14px; 
}

.sidebar-item:hover {
  background-color: #f0f0f0; 
  cursor: pointer;
}

.sidebar-gmail {
  background-color: #f6f8fc;
  border-right: 1px solid #ddd;
  padding: 16px;
}



.sidebar-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #202124;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #ddd;
  cursor: pointer;
  color: #202124;
}

.sidebar-item.active {
  background-color: #ddd;
  color: #000;
}

.sidebar-gmail {
  transform: translateX(-210px); 
  transition: transform 0.3s ease;
}

.sidebar-open .sidebar-gmail {
  transform: translateX(0);
}

.mail-index {
  display: flex;
  flex-direction: column;
}


.mail-content {
  display: flex;
  flex: 1;
}

.mails-container {
  flex: 1;
  padding: 20px;
}


  /* For mobile */
  @media only screen and (max-width: 600px) {
    .mail-index, .sidebar-gmail, .sidebar-item{
      max-width: 95%; 
      padding: 0 10px; 
    }
  }