body {
  font-family: "Google Sans", "Roboto", sans-serif;
  margin: 0;
  background-color: #fff;
}
.mail-index {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
}

.sidebar-gmail {
  background-color: #f2f2f2;
  border-right: 1px solid #ddd;
  padding: 16px;
}

.sidebar-gmail span.material-icons {
  font-size: 24px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #666;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #ddd;
  cursor: pointer;
  color: #000;
}

.sidebar-item.active {
  background-color: #ddd;
  color: #000;
}

.mail-index .sidebar-gmail .gmail-logo {
  max-width: 100px;
  height: auto;
  margin-bottom: 16px;
}
