.sidebar-keep{
    margin-top: 150px;
    width: 250px;
    position: fixed;
    top: 15px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-left: 1px solid #ccc;
}

.sidebar-keep .material-icons {
    font-size: 24px;
    margin-right: 12px;
    color: #5f6368;
    cursor: pointer;
    margin-inline-start: 20px;
}

.sidebar-keep .sidebar-keep-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
    color: #5f6368;
    text-decoration: none;
}

.sidebar-keep-item.active .material-icons {
    color: #202124;
}

.sidebar-keep-item:hover {
    background-color: #f1f3f4;
}

.sidebar-keep-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.sidebar-keep-item.active {
    background-color: #feefc3;
    color: #000;
}
