.note-index-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex: 1 1 auto;
}

.sidebar-keep {
    flex: 0 0 240px;
    background-color: #fff;
    padding-top: 20px;
}

.sidebar-keep-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.sidebar-keep-item.active {
    background-color: #feefc3;
    color: #000;
}

.sidebar-keep-item .material-icons {
    margin-right: 16px;
}

.sidebar-keep-item:hover {
    background-color: #f1f3f4;
}