.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f3f4; 
    border-bottom: 1px solid #ddd; 
    padding: 8px 16px; 
}

nav a {
    margin: .5em;
}

nav a:active {
    color: #0d47a1;
}
